div.ml(layout="row" layout-align='center center')
    a.btn(href="https://www.facebook.com/svetmedia" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/fb.png" style='opacity:.9')
    a.btn(href="https://www.linkedin.com/company/svet-russian-media-group" style='margin:0px 4px;max-width:100%')
        img(width="26px" height="26px" src="../img/social/color/linkedin.png" style='opacity:.9')
    a.btn(href="http://www.yelp.com/biz/svet-russian-media-group-northrbook" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/yelp.png" style='opacity:.9')
    a.btn(href="https://www.youtube.com/watch?v=fuVyrMp3BpI" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/youtube.png" style='opacity:.9')

