div
    a.tc-grey-700.sv-hover-grey(ui-sref='app.article({id:post.fbkey})' style='text-decoration:none')
        div.pl.pr.pb
            span.display-block.tc-grey-800.sv-hover-red(ng-bind-html='post.title' style="font-weight:500")
        div.pl.pr.pb
            span.display-block.fs-body-1.tc-black-2.sv-hover-grey(ng-bind-html='post.summary')
