.card
    div.p.bgc-grey-200(layout-sm='column' layout-gt-sm='row' layoutkgt-sm='row' layout-align='start center' ng-show='isEditable()')
        div.mb.pl.pt
        div(ng-if='!currentCl.banned')
            sv-status-label(label-title="{{status?'Active':'Not Active'}}" ng-show='!widget')
            span.fs-caption(ng-show='status') Expires: {{timeLeft}}
            span.fs-caption(ng-show='!status') Expired {{timeLeft}}
        div(ng-if='currentCl.banned')
            sv-status-label(label-title="banned" ng-show='!widget' tc="tc-white-1" bgc="bgc-red-300" label-padding="4px" fs="fs-caption")
    div.p(layout='column')
        .mdc-display-inline-block.mr.ml.tc-grey-500
            i.mdi.mdi-calendar-today(style="margin-right:4px")
            span.fs-caption.tc-grey-500 {{currentCl.timestamp|date}}
            span.fs-caption.tc-red-800.sv-color-7(style='padding:4px' ng-show='isNewCurr') New!
            span.ml(ng-hide="!widget")
                a.fs-caption.tc-grey-800.bgc-grey-300.sv-link(style="padding: 2px 4px; border-radius:3px;cursor:pointer") {{currentCl.section}}
        div.mb.pl.pr.pt
            span.mdc-display-inline-block.fs-subhead.mr.tc-grey-700 {{currentCl.title}}
        div
            sv-quick-look-btn(modal-method='showClassifiedModal(cl)')
    .bgc-grey-100(ng-show='isEditable()' layout-sm='column' layout-gt-sm='row' layout-align='space-between center' class='pl pr pt+ pb')
        span.fs-caption.tc-grey-800.mr(ng-show="currentCl.city") {{currentCl.city}}
        span.fs-caption.tc-grey-800.mr(ng-show="currentCl.state") {{currentCl.state}}
        div.mb.pt( layout="row")
            div(ng-show='!currentCl.banned')
                button.btn.btn--s.btn--white.btn--raised.tc-grey-800.mr(lx-ripple='' ng-click='editCl({cl:cl})')
                    i.fa.fa-share.fa-fw &nbsp
                    | {{'repost'|translate}}
                button.btn.btn--s.btn--white.btn--raised.tc-teal-300.mr(lx-ripple='' ng-click='editCl({cl:cl})')
                    i.fa.fa-pencil.fa-fw &nbsp
                    | {{'edit'|translate}}
            a.btn.btn--s.btn--white.tc-red-800.btn--raised.sv-colror-7(lx-ripple='' ng-click='removeCl()' sv-confirm-deletion='classified')
                i.fa.fa-trash.fa-fw &nbsp
                span {{'delete'|translate}}
        .mb(ng-show="!widget"  )
            a.btn.btn--s.btn--white.tc-red-300.btn--raised(lx-ripple='' ng-click='banByManager(cl)' sv-confirm-ban='classified' ng-hide="!user.isManager()")
                i.fa.fa-trash.fa-fw &nbsp
                span {{'ban'|translate}}
            //sv-ban-btn(cl='cl' sv-confirm-ban="classified")

