div
    div(class='ml++ mr++ mt+ mb+')
        div(layout-gt-sm='row' layout-sm='column' class='mb' layout-align="space-between center")
            span.fs-caption.tc-grey-600.display-block.mr {{cl.timestamp|date}}
            a.fs-caption.tc-grey-700.bgc-grey-300.display-block(style="padding: 2px 4px; border-radius:3px;cursor:pointer") {{cl.section}}
        div(layout-gt-sm='row' layout-sm='column' class='mb')
            span.mdc-display-inline-block.tc-grey-700.mr.ml(style='border:#E0E0E0 1px solid;padding: 4px' ng-show="cl.price") ${{cl.price}}
            span.mdc-display-inline-block.fs-title.mr.tc-grey-800 {{cl.title}}
        div(layout='row' layout-align='start center')
            span.fs-subhead.tc-grey-600 {{cl.state}}, {{cl.city}}
        div(layout='row' layout-align='start center')
        p.tc-grey-700.display-block {{cl.description}}
    .bgc-grey-200(layout-sm='column' layout-gt-sm='row' layout-align='space-between center' class='pl++ pr++ pt+ pb+')
        div(ng-if="cl.name")
            span.mdc-display-inline-block.fs-subhead.tc-grey-800.mr Contact Name: {{cl.name}}
        div(ng-if="cl.phone")
            span.mdc-display-inline-block.fs-subhead.tc-grey-800.mr Phone: {{cl.phone}}
        div(ng-if="cl.email")
            span.mdc-display-inline-block.fs-subhead.mr Email: {{cl.email}}
