div(layout='row' layout-align='center')
    div(flex-sm='' flex-gt-sm='60' flex-gt-md='80' flex-gt-lg='50')
        div(class='pt++')
            sv-sign-up-form(
            header-title="registration"
            register='register'
            name='username'
            registering="by-registering"
            conditions="registering-conditions"
            registered="already-registered"
            login="login" )