div(layout='row' layout-align='center')
    div(flex-sm='' flex-gt-sm='60' flex-gt-md='80' flex-gt-lg='50')
        div(class='pt+')
            sv-login-form(header-title='login-title' login-btn='login' register-account='register-account' new-user='new-user')

