div(style="")
    div(style="margin-left:3px;overflow:hidden" class="advertisementHtml")
        <iframe ng-src="{{currentProjectUrl}}" width="800" height="90" style="max-width:"100%"> <!--content--> </iframe>
    sv-profile-title(header-title="{{sectionName}}" class='ml mr mb+')
    sv-section-articles-list(class='ml mr')
    div(class='ml mr mt+ text-center')
        //sv-radio-osa
    //sv-article-thumb-title(class="mb+" section-title="opinion" section-icon="account-star")
    //sv-article-thumb-title(class="ml mr mb+" section-title="svet-recommends" section-icon="star" bgc="bgc-svet-700" tc="tc-grey-50" tags='recommended')
    //sv-article-thumb-title(class="mb+" section-title="useful-tips" section-icon="account-alert")
    //sv-article-thumb-title(class="mb+" section-title="gargantua-recipes" section-icon="food-variant")
//footer advertisement
//sv-custom-paper-head-ad

