.sv-iframe-responsive-wrap(style='margin-bottom:4px;overflow:hidden;height:100%')
    iframe(ng-src='http://ec2-52-89-229-106.us-west-2.compute.amazonaws.com/' id='iframe' style='width:230px;height:310px;border:none;overflow:hidden' )
    //iframe(ng-src='http://localhost' id='iframe' style='width:230px;height:310px;border:none;overflow:hidden' )
