a(ng-click="navigateTo()" id="authorArticleLinkSection" style='font-variant="{{fontVariant}}"; font-weight:400; text-decoration:{{textDecoration}};line-height:14px;padding:{{labelPadding}};cursor:{{cursorType}}' class="{{fs}} {{tc}} {{bgc}}")
    i(class='{{iconType}} {{iconName}}' style="margin-right:4px")
    | {{sectionTitle|translate}}
