div(layout='column' class='pl+ pr+')
    sv-profile-title(header-title="{{calendarTitle}}")
    sv-svet-events-calendar()
    div.mb
        a.display-block.mdc-text-right.fs-caption(target="_blank" href="img/networks/report.pdf" download="report.pdf")
            | Svet Public Events 2016 (PDF)
    span.display-block.fs-headline.mt.mb(class='mb++') {{'upcoming-events'|translate}}
    sv-afisha-events-tabs
