div
    div(ui-view='')
        div(layout='row' layout-align='space-between start' class="ml+ mr+ mb+" id='kohlGallery')
            div(layout='row')
                .mr
                    sv-fb-like
                .mr
                    sv-fb-share
                .mr
                    sv-google-share
            div(layout='row')
                div(class='mr ml')
                    a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(href='https://s3-us-west-2.amazonaws.com/svet.com/home/kohl-2015/kohl-2015.pdf' target='_blank')
                        i.mdi.mdi-file-image &nbsp
                        | {{'open-pdf'|translate}}
                div(class='mr ml')
                    a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(lx-ripple='' href='img/event-reports/kohl-2015.pdf' download="report.pdf")
                        i.mdi.mdi-download &nbsp
                        | {{'download'|translate}}
        div(layout='column' layout-align='start' class="ml+ mr+")
            sv-event-article-thumb-ru
            span.display-block.fs-display-1.txt-fontGrey.mt "SVET Annual Family Event at KOHL CHILDREN’S MUSEUM"
            span.fs-subhead.display-block.tc-grey-700 06.19.2015
        div(class="ml+ mr+")
            p.mb Last Sunday, June 14, 2015, &nbsp
                span(style="font-weight:700") SVET Russian Media &nbsp
                span successfully held yet another SVET Annual Family Event at &nbsp
                a.tc-grey-800(href='http://www.kohlchildrensmuseum.org/' style='font-weight:700') KOHL CHILDREN’S MUSEUM &nbsp
                span for the fourth time in a row. This time we set a new attendance record –
                strong 495 guests &nbsp
                span , not counting the &nbsp
                strong numerous sponsors and members of their families.

        div(layout='row' class='mb ml mr' layout-align='space-between center')
            button.btn.btn--black.bgc-red-300.btn--raised.tc-grey-50(lx-ripple='' class="btn--l" ui-sref='.photo-gallery' )
                i.fa.fa-picture-o.fa-fw.mr
                | {{'event-photo-gallery'|translate}}
    div(layout='row' layout-align='center' class='mb+' ng-show='showEventInfo')
        #slider1_container(style='position: relative; top: 0px; left: 0px; width: 960px;\
            height: 480px; background: #191919; overflow: hidden;')
            // Loading Screen
            div(u='loading', style='position: absolute; top: 0px; left: 0px;')
                div(style='filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;\
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;')
                div(style='position: absolute; display: block; background: url(img/gallery/loading.gif) no-repeat center center;\
                top: 0px; left: 0px;width: 100%;height:100%;')
            // Slides Container
            div(u='slides', style='cursor: move; position: absolute; left: 240px; top: 0px; width: 720px; height: 480px; overflow: hidden;')
                div
                    img(u='image', src='img/gallery/01.jpg')
                    img(u='thumb', src='img/gallery/01th.jpg')
                div
                    img(u='image', src='img/gallery/02.jpg')
                    img(u='thumb', src='img/gallery/02th.jpg')
                div
                    img(u='image', src='img/gallery/03.jpg')
                    img(u='thumb', src='img/gallery/03th.jpg')
                div
                    img(u='image', src='img/gallery/04.jpg')
                    img(u='thumb', src='img/gallery/04th.jpg')
                div
                    img(u='image', src='img/gallery/50.jpg')
                    img(u='thumb', src='img/gallery/50th.jpg')
                div
                    img(u='image', src='img/gallery/05.jpg')
                    img(u='thumb', src='img/gallery/05th.jpg')
                div
                    img(u='image', src='img/gallery/33.jpg' )
                    img(u='thumb', src='img/gallery/33th.jpg' )
                div
                    img(u='image', src='img/gallery/34.jpg' )
                    img(u='thumb', src='img/gallery/34th.jpg' )
                div
                    img(u='image', src='img/gallery/35.jpg' )
                    img(u='thumb', src='img/gallery/35th.jpg' )
                div
                    img(u='image', src='img/gallery/36.jpg' )
                    img(u='thumb', src='img/gallery/36th.jpg' )
                div
                    img(u='image', src='img/gallery/37.jpg' )
                    img(u='thumb', src='img/gallery/37th.jpg' )
                div
                    img(u='image', src='img/gallery/38.jpg' )
                    img(u='thumb', src='img/gallery/38th.jpg' )
                div
                    img(u='image', src='img/gallery/39.jpg' )
                    img(u='thumb', src='img/gallery/39th.jpg' )
                div
                    img(u='image', src='img/gallery/40.jpg' )
                    img(u='thumb', src='img/gallery/40th.jpg' )
                div
                    img(u='image', src='img/gallery/41.jpg' )
                    img(u='thumb', src='img/gallery/41th.jpg' )
                div
                    img(u='image', src='img/gallery/42.jpg' )
                    img(u='thumb', src='img/gallery/42th.jpg' )
                div
                    img(u='image', src='img/gallery/43.jpg' )
                    img(u='thumb', src='img/gallery/43th.jpg' )
                div
                    img(u='image', src='img/gallery/44.jpg' )
                    img(u='thumb', src='img/gallery/44th.jpg' )
                div
                    img(u='image', src='img/gallery/45.jpg' )
                    img(u='thumb', src='img/gallery/45th.jpg' )
                div
                    img(u='image', src='img/gallery/46.jpg' )
                    img(u='thumb', src='img/gallery/46th.jpg' )
                div
                    img(u='image', src='img/gallery/47.jpg' )
                    img(u='thumb', src='img/gallery/47th.jpg' )
                div
                    img(u='image', src='img/gallery/48.jpg' )
                    img(u='thumb', src='img/gallery/48th.jpg' )
                div
                    img(u='image', src='img/gallery/49.jpg' )
                    img(u='thumb', src='img/gallery/49th.jpg' )
                div
                    img(u='image', src='img/gallery/2.jpg')
                    img(u='thumb', src='img/gallery/2th.jpg')
                div
                    img(u='image', src='img/gallery/3.jpg')
                    img(u='thumb', src='img/gallery/3th.jpg')
                div
                    img(u='image', src='img/gallery/4.jpg')
                    img(u='thumb', src='img/gallery/4th.jpg')
                div
                    img(u='image', src='img/gallery/5.jpg')
                    img(u='thumb', src='img/gallery/5th.jpg')
                div
                    img(u='image', src='img/gallery/6.jpg')
                    img(u='thumb', src='img/gallery/6th.jpg')
                div
                    img(u='image', src='img/gallery/7.jpg')
                    img(u='thumb', src='img/gallery/7th.jpg')
                div
                    img(u='image', src='img/gallery/8.jpg')
                    img(u='thumb', src='img/gallery/8th.jpg')
                div
                    img(u='image', src='img/gallery/9.jpg')
                    img(u='thumb', src='img/gallery/9th.jpg')
                div
                    img(u='image', src='img/gallery/10.jpg')
                    img(u='thumb', src='img/gallery/10th.jpg')
                div
                    img(u='image', src='img/gallery/11.jpg')
                    img(u='thumb', src='img/gallery/11th.jpg')
                div
                    img(u='image', src='img/gallery/12.jpg')
                    img(u='thumb', src='img/gallery/12th.jpg')
                div
                    img(u='image', src='img/gallery/13.jpg')
                    img(u='thumb', src='img/gallery/13th.jpg')
                div
                    img(u='image', src='img/gallery/14.jpg')
                    img(u='thumb', src='img/gallery/14th.jpg')
                div
                    img(u='image', src='img/gallery/15.jpg')
                    img(u='thumb', src='img/gallery/15th.jpg')
                div
                    img(u='image', src='img/gallery/16.jpg')
                    img(u='thumb', src='img/gallery/16th.jpg')
                div
                    img(u='image', src='img/gallery/17.jpg')
                    img(u='thumb', src='img/gallery/17th.jpg')
                div
                    img(u='image', src='img/gallery/18.jpg')
                    img(u='thumb', src='img/gallery/18th.jpg')
                div
                    img(u='image', src='img/gallery/19.jpg')
                    img(u='thumb', src='img/gallery/19th.jpg')
                div
                    img(u='image', src='img/gallery/20.jpg')
                    img(u='thumb', src='img/gallery/20th.jpg')
                div
                    img(u='image', src='img/gallery/21.jpg')
                    img(u='thumb', src='img/gallery/21th.jpg')
                div
                    img(u='image', src='img/gallery/22.jpg')
                    img(u='thumb', src='img/gallery/22th.jpg')
                div
                    img(u='image', src='img/gallery/23.jpg')
                    img(u='thumb', src='img/gallery/23th.jpg')
                div
                    img(u='image', src='img/gallery/24.jpg')
                    img(u='thumb', src='img/gallery/24th.jpg')
                div
                    img(u='image', src='img/gallery/25.jpg')
                    img(u='thumb', src='img/gallery/25th.jpg')
                div
                    img(u='image', src='img/gallery/26.jpg')
                    img(u='thumb', src='img/gallery/26th.jpg')
                div
                    img(u='image', src='img/gallery/27.jpg')
                    img(u='thumb', src='img/gallery/27th.jpg')
                div
                    img(u='image', src='img/gallery/28.jpg')
                    img(u='thumb', src='img/gallery/28th.jpg')
                div
                    img(u='image', src='img/gallery/29.jpg')
                    img(u='thumb', src='img/gallery/29th.jpg')
                div
                    img(u='image', src='img/gallery/30.jpg')
                    img(u='thumb', src='img/gallery/30th.jpg')
                div
                    img(u='image', src='img/gallery/31.jpg')
                    img(u='thumb', src='img/gallery/31th.jpg')
                div
                    img(u='image', src='img/gallery/32.jpg')
                    img(u='thumb', src='img/gallery/32th.jpg' )

            // #region Arrow Navigator Skin Begin
            style.
                /* jssor slider arrow navigator skin 05 css */
                /*
                .jssora05l                  (normal)
                .jssora05r                  (normal)
                .jssora05l:hover            (normal mouseover)
                .jssora05r:hover            (normal mouseover)
                .jssora05l.jssora05ldn      (mousedown)
                .jssora05r.jssora05rdn      (mousedown)
                */
                .jssora05l, .jssora05r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    background: url(img/gallery/a17.png) no-repeat;
                    overflow: hidden;
                }

                .jssora05l {
                    background-position: -10px -40px;
                }

                .jssora05r {
                    background-position: -70px -40px;
                }

                .jssora05l:hover {
                    background-position: -130px -40px;
                }

                .jssora05r:hover {
                    background-position: -190px -40px;
                }

                .jssora05l.jssora05ldn {
                    background-position: -250px -40px;
                }

                .jssora05r.jssora05rdn {
                    background-position: -310px -40px;
                }
            // Arrow Left
            span.jssora05l(u='arrowleft', style='top: 158px; left: 248px;')
            // Arrow Right
            span.jssora05r(u='arrowright', style='top: 158px; right: 8px')
            // #endregion Arrow Navigator Skin End
            // #region Thumbnail Navigator Skin Begin
            // Help: http://www.jssor.com/development/slider-with-thumbnail-navigator-jquery.html
            style.
                /* jssor slider thumbnail navigator skin 02 css */
                /*
                .jssort02 .p            (normal)
                .jssort02 .p:hover      (normal mouseover)
                .jssort02 .p.pav        (active)
                .jssort02 .p.pdn        (mousedown)
                */
                .jssort02 {
                    position: absolute;
                    /* size of thumbnail navigator container */
                    width: 240px;
                    height: 480px;
                }

                .jssort02 .p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 99px;
                    height: 66px;
                }

                .jssort02 .t {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }

                .jssort02 .w {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }

                .jssort02 .c {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 95px;
                    height: 62px;
                    border: #000 2px solid;
                    box-sizing: content-box;
                    background: url(img/gallery/t1.png) -800px -800px no-repeat;
                    _background: none;
                }

                .jssort02 .pav .c {
                    top: 2px;
                    _top: 0px;
                    left: 2px;
                    _left: 0px;
                    width: 95px;
                    height: 62px;
                    border: #000 0px solid;
                    _border: #fff 2px solid;
                    background-position: 50% 50%;
                }

                .jssort02 .p:hover .c {
                    top: 0px;
                    left: 0px;
                    width: 97px;
                    height: 64px;
                    border: #fff 1px solid;
                    background-position: 50% 50%;
                }

                .jssort02 .p.pdn .c {
                    background-position: 50% 50%;
                    width: 95px;
                    height: 62px;
                    border: #000 2px solid;
                }

                * html .jssort02 .c, * html .jssort02 .pdn .c, * html .jssort02 .pav .c {
                    /* ie quirks mode adjust */
                    width /**/: 99px;
                    height /**/: 66px;
                }
            // thumbnail navigator container
            .jssort02(u='thumbnavigator', style='left: 0px; bottom: 0px;')
                // Thumbnail Item Skin Begin
                div(u='slides', style='cursor: default;')
                    .p(u='prototype')
                        .w
                            .t(u='thumbnailtemplate')
                        .c
                // Thumbnail Item Skin End
            // #endregion Thumbnail Navigator Skin End
            a(style='display: none', href='http://www.jssor.com') Image Slider
    div(class="ml+ mr+" ng-show='showEventInfo')
        sv-kohl-event-report
